html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}use
*{
    box-sizing: border-box;
}


/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

header{
    font-family: 'Rubik', sans-serif;
    background-color: #091242;
    height: 160px;
}
menu{
    font-family: 'Rubik', sans-serif;
}
.header-section{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    align-content: center;
    gap: 0 39px;
    padding-top: 40px;
}
.header-logo{
    
}
.header-text{
    color: white;
}
header-ul{
    display: flex;
}
.logo{
    margin-right: calc(244px - 39px);
    font-size: 30px;
}
.header-ul{
    font-size: 14px;
}
.div-clock{
    display: flex;
    align-items: center;
    column-gap: 17px;
}
.div-email{
    display: flex;
    align-items: center;
    column-gap: 17px;
}
.div-call{
    display: flex;
    align-items: center;
    column-gap: 17px;
}
.clock{
    width: 145px;
}
.main-section{
    background-image: url("images/Photo.png");
    height: 875px;
}
.div-height{
    background: #09124242;
    height: 78px;
}
.main-menu{
    width: 1200px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    
}
.menu-ul{
    display: flex;
    gap: 30px;
    list-style: none;
    font-size: 16px;
    color: white;
    line-height: 78px;
    
}
.menu-icon{
    display: flex;
    gap: 50px;
    align-items: center;
}
.icon{
    display: flex;
    gap: 24px;
}
.div-button{
    
}
.request-button{
    padding: 28px 52px;
    font-size: 16px;
}